extends ../layout

block content
  #incomingChatMessages Incoming
  input#outgoingChatMessage(type='text')
  input#submit_btn(type='button' name='submit_btn' value='发言')
  script(src='/javascripts/socket.io.js')
  script(src='/javascripts/hehe.js')